Chapter 3.4
You can consturct any PYthon program from only six different forms of control (sequential execution, and the if, if..else, if..elif..else, while and for statemnts). You combine these in only two ways (control-statement stacking and control-statement nesting)

In [1]:
#Self Check
#You can write all programs using three forms of control
#sequential execution, selection statements, repetition statements

In [2]:
#Self Check
#An ____ is a graphical representation of an algorithm.
#Flowchart

Chapter 3.5
if Statement

if the condition is true - then complete the action, if the condition is false - skip those actions (group of actions)

In [3]:
grade = 75
if grade >= 60:
    print('Passed')

Passed

Note* - you must indent a suite; otherwise an IndentationError synax occurs

In [4]:
grade =75
if grade >=60:
print('Passed')

IndentationError: expected an indented block (<ipython-input-4-8708a23227d7>, line 3)

You can base decision on any expression. A nonzerio value is True. Zero is False. 
Strings containing characters are True and empty strings ('',"", or """""") are False.

In [ ]:
if 1:
    print('Nonzero values are true, so this will print')

In [ ]:
if 0:
    print('Zero is false, so this will not print')

3.6 If..else and if..elif..else Statements

if..else statements perform different suites based on whether a condition is true or false

In [ ]:
grade = 75
if grade >= 60:
        print('The student passed.')
else:
    print('The student did not pass.')

In [ ]:
grade = 55
if grade >= 60:
        print('The student passed.')
else:
    print('The student did not pass.')

if...elif...else
Allows for the testing of multiple cases, the only first TRUE condition executes.

In [ ]:
grade = 75
if grade>=90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

In [ ]:
#Self Check

(T/F) A fatal logic error causesa script to produce incorrect results, then continue executing.
    F - A fatal logic error caues a script to terminate. 
 Show that a SyntaxError occurs if an if...elif statement specifices an else before the last elif.

In [ ]:
grade = 65
if grade >=90:
    print('A')
else grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('You did not pass')

3.7 while Statement
while Statement allows you to repeat one or more actions while a condition remains True aka a loop.

In [ ]:
cats = 2
while cats <= 50:
    cats *= 3
    print(cats)

3.8 for Statement
for statement allows the repetition of an action or several actions. It performs those items in a sequence.

In [ ]:
for character in 'Sullivan':
    print(character,end=' ')

In [ ]:
#end is a keyword agrument - it is not a python keyword. The end keyword argument is optional
#if it is not use by default print will use (\n)
#sep is also a keyword argument it can be used to specify the string that appears between the items that print displays

In [ ]:
print('Sullivan','Nicole','Lindsey',sep=' - ')

Sequence to the right of a for statement must be an iterable - an object from which the for statement can take one item at a time until no more remain. - Some are strings, or a list i.e. [12,2,3,4]

Additionally - there is a built in range function - it creates an iterable object that represents a sequence of consecutive integer values starting from 0 and continuing up to but not including the argument value.

In [ ]:
for counter in range(5):
    print(counter,end=' ')

In [ ]:
#Self Check

Function ___ generates a sequence of integers.
 - Range
 Use the range function a for statement to calculate the total of the intergers 0 through 1,000,000

In [ ]:
total = 0
for number in range(1000001):
    total += number
print(total)
#caution adding print into a for statement - the print statement will loop through each iteration

3.9 Augmented Assignments
Abbreviate assignment expression sin which the same avariable appears on the left and right of the assignment's =, as above total would appear on both sides.

+=,-=,*=,**=,%=,/=,//=

In [ ]:
#Self Check

If x is 7, the value of x after evaluation x *= 5 is ____
 - 35

Create a variable x with the value 12. Use an exponentiation augmented assignment statement to square x's value. Show x's new value.

In [ ]:
x=12
x **= 2
print(x)

3.10 Program development: Sequence Controlled Repetition

Set total to zero
Set grade counter to zero
Set grades to a list of the ten grades

For each grade in the list:
    Add the grade ot the total
    Add one to the grade counter

Set the class average to the total divided by the number of grades
Display the class average

In [ ]:
#initializiation phase
total = 0
grade_counter = 0
grades = [98,76,71,87,83,90,57,79,82,94]

#processing phase
for grades in grades:
    total += grades
    grade_counter += 1

#termination phase
average = total/grade_counter
print(f'Class average is {average} and the program counted {grade_counter} grades')

In [ ]:
#Self Check

A(n) ___ describes what a program is supposed to do, but not how the program should do it
- requirements statement
Many of the scripts you'll write can be decompoased into three phases __,__,and ___.
- initialization, processing, terminiation
Display an f-string in which you insert the values of the variables number1(7) and number2(5) and their product. The display should be: 7 times 5 is 35

In [ ]:
number1=7
number2=5

print(f'{number1} times {number2} is {number1 * number2}')

3.13 Built-in Function range
Function range also has 2 & 3 argument versions.

In [ ]:
for number in range(5,12):
    print(number,end=' ')

The 2 argument version - the first value (5) is the beginning point, and the values are returned up until the second value (12).

In [ ]:
for number in range(0,16,2):
    print(number,end=' ')

The 3 argument version - the first value (0) is the beginning point, and the second value is the end of the range (16) and not returned, the third value (2) dictates the incriments of the returned values. In this case - every (2) values have been returned.

In [ ]:
#Self Check

(T/F) Function call ranges(1,10) generates the sequence 1 through 10. 
- False, function call range (1,10) generates the sequence 1 - 9. 
What happens if you try to print the items in range(10,0,2)

In [ ]:
for number in range (10,0,2):
    print(number, end=' ')

Nothing displays because the step (2) is not negative.

Use a for statement, range and print to display on one line the sequence of values 99,88,77,66,55,44,33,22,11,0, each seperated by one space.

In [ ]:
for number in range(99,-1,-11):
    print(number, end=' ')

Use for and range to sum the even integers from 2 through 100, then display the sum.

In [ ]:
total = 0
for number in range(2,101,2):
    total += number
print(total)

3.15 break and continue Statements
break - while or for statement the break statement immediately exits the statement

In [ ]:
for number in range(100):
    if number == 20:
        break
    print(number, end=' ')

continue - while or for statement the continue statement immediately skips the remainder of the loop's suite. In a while statement the condition is then tested to determine whether the loop should continue executing. In a for, the loop processes the next item in the sequence(if any).

In [ ]:
for number in range(20):
    if number == 5:
        continue
    print(number,end=' ')

In [ ]:
for number in range(20):
    if number == 5:
        continue
    if number == 15:
        break
    print(number,end=' ')

3.16 Boolean Operators and,or and not

and - evaluates both values to be true
or - evaluates one value to be true
not - reverses the meaning of the condition - True = False, False = True

In [ ]:
#Self Check

Assume that i=1, j=2, k=3, and m=2. What does each of the following conditions display?
    (i >= 1) and (j < 4)
    (m <= 99) and (k < m)
    (j >= i) or (k == m)
    (k + m < j) or (3 - j >= k)
    not (k > m)

In [ ]:
i = 1
j = 2
k = 3
m = 2
(i >= 1) and (j < 4)

In [ ]:
(m <= 99) and (k < m)

In [ ]:
(j >= i) or (k == m)

In [ ]:
(k + m < j) or (3 - j >= k)

In [ ]:
not (k > m)

Calculate Measures of Central Tendency - Native Python
Using the data provided in the Self Check on p 110-111, question 4, calculate:
    Count using built-in len()
    Sum using built-in sum()
    Mean by dividing sum() by len()
Confirm you get the same answers provided.

In [ ]:
grades = [85,93,45,89,85]
print(f'The number of grades is {len(grades)} and the sum of the grades is {sum(grades)}')
print(f'The mean of the grades is {sum(grades)/len(grades)}')

Using the same data as above, and by calling functions in the statistics module - calculate:
    Mean
    Median 
    Mode
Confirm you get the same answers as provided.

In [ ]:
import statistics

In [ ]:
grades = [85,93,45,89,85]
print('The mean of the grades is:',statistics.mean(grades))
print('The median of the grades is:',statistics.median(grades))
print('The mode of the grades is:',statistics.mode(grades))

Custom Central Tendency
-Created a sepearte notebook,but will be keeping the work here as well

In [5]:
"""Purpose is to find the mean, median, mode, count, and sum of a central tendency data set"""

'Purpose is to find the mean, median, mode, count, and sum of a central tendency data set'

In [6]:
numbers = 66,45,90,33,75,86,80,81,76,75,40,95,92,100

print(f'The number of variables is: {len(numbers)} and the sum is {sum(numbers)}')

import statistics

The number of variables is: 14 and the sum is 1034

In [7]:
print(f'The mean is {statistics.mean(numbers):.2f} and the median is {statistics.median(numbers)} and finally the mode is {statistics.mode(numbers)}')

The mean is 73.86 and the median is 78.0 and finally the mode is 75

In [8]:
print('Created by Lindsey Sullivan')

Created by Lindsey Sullivan